@media only screen and (max-width: 600px)  {

    *{
        
        background-size: cover;
        background-size: contain;
        background-position: center;
        
        

    }

   

    .space{
        background-repeat: no-repeat;
        background-color: thistle;
        background-image: url(https://www.spacex.com/static/images/backgrounds/gps3_launch_desktop_02.webp);
        
        

        }

        img{
            height: 10%;
            width: 40%;
            padding-top: 10px;
        

        }

    
.d-menu{
    order: 1;
    display: block;
    color: transparent;
    
}
    .a-manu{
        
        text-align: center;
        color: transparent;
        
        
    
        
        
    


    }
    .b-manu{
        color: transparent;
        

        
        
    }
    .contenedor{

        display: flex;
        justify-content: center;
        
        


    }
    
    nav{
        display: flex;
        justify-content: center;

    }
    ul{
        display: inline-block;
        text-align: center;
        

    }

    
    .menu{
        order:2;
        
    }

    .TEXTO-SPACE{
        color: white;
        padding-top: 70%;
        padding-left: 20%;
        font-size: 50%;
    }
    .TEXTO-SPACE-2{
    
        color: white;
        padding-left: 20%;
        font-size: 150%;
    }
    
    
    .btn{
    
        margin-left: 20%;
        color: white;
        border-color: white;
        background: none;
        padding: 10px 30px 10px 30px;
        font-size: 50%;
        
    
    }
    
    .btn:hover{
        color: black;
        background: white;

        

        }


        
        
        

        
    

    
    



}
