
*{

    margin: 0;
    padding: 0;
}
.space{
    background-image: url(https://www.spacex.com/static/images/backgrounds/gps3_launch_desktop_02.webp);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    


}
img{
    width: 200px;
    height: 20px
}

ul{
    display: flex;

    padding-left: 20%;




}
.contenedor{

    display: inline;
}

.a-manu{

    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;

    

    }

    .menu{

        text-align: right;
        float: right;
        padding-right: 15vh;
        padding-top: 0.2vh;
        margin-top: 10px;
       


        


        }

        .d-menu :hover{

            color: white;
        
        
        }
        .b-manu{
        
            color: white;
            justify-content: right;
            margin-bottom: 15px;
            
        }

        nav{

            text-align: left;
            scroll-behavior: auto;
            
        
        
            
        
        
        }
        
        .d-menu{
        
            text-align: left;
            list-style: none;
            display: inline-flex;
            
            
            

            


            }

            .TEXTO-SPACE{
                color: white;
            padding-top: 30%; 
                padding-left: 20%;
                font-size: 100%;
        




}

            .TEXTO-SPACE-2{
            
                color: white;
                padding-left: 20%;
                font-size: 250%;
            }
            
            
            .btn{
            
                margin-left: 20%;
                color: white;
                border-color: white;
                background: none;
                padding: 10px 30px 10px 30px;
                
            
            }
            
            .btn:hover{
                color: black;
                background: white;

                


                }
                .ship{

                    background-image: url(https://www.spacex.com/static/images/backgrounds/home_demo2.webp);
                    width: 100%;
                    height: 100vh;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding-top: 10%;
                
                }



                .btn:hover{
                    color: black;
                    background: white;
                
                }
                
                .TEXTO-SPACE-3{
                
                    color: white;
                    padding-top: 30%;
                    padding-left: 70%;
                    margin-bottom: 0;
                    font-size: 300%;
                
                }
                
                .TEXTO-SPACE-4{
                
                    color: white;
                    padding-left: 120vh;
                    font-size: 300%;
                    margin-bottom: 0;
                
                }
                
                .TEXTO-SPACE-5{
                
                    color: white;
                    padding-left: 120vh;
                    font-size: 300%;
                    margin-bottom: 0;
                
                }
                .TEXTO-SPACE-6{
                
                    color: white;
                    padding-left: 120vh;
                    font-size: 300%;
                    margin-bottom: 0;
                
                }
                
                .TEXTO-SPACE-7{
                
                    color: white;
                    padding-left: 120vh;
                    font-size: 300%;
                    margin-bottom: 0;
                    margin-top: 0;
                
                }
                
                .btn-2{
                
                    margin-left: 120vh;
                    color: white;
                    border-color: white;
                    background: none;
                    padding: 10px 30px 10px 30px;
                    
                
                }
                
                .btn-2:hover{
                    color: black;
                    background: white;
                }

